.nav {
	position: relative;
	z-index: 1000;
}

.nav__header {
	align-items: center;
	background-image: linear-gradient(to right, #f85aa4, #ff587c, #ff6b5d);
	box-shadow: 0 3px 6px #0b0b0b1a;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0.5rem;
	position: fixed;
	width: 100%;
}

.nav__list.sm {
	padding: 0;
	width: 100%;
}

.nav__list.md {
	display: none;
}

.nav__item {
	padding: 0.5rem 0;
	border-bottom: 1px solid #c2c2c2;
}

.nav__item:last-child {
	border-bottom: none;
}

.nav__item > a {
	color: #d2d2ff;
	transition: 0.3s;
}

.nav__brand {
	letter-spacing: 0.5rem;
	text-transform: uppercase;
	font-weight: 600;
}

.nav__item > a:hover {
	color: #e8ffee;
}

.nav__toggler {
	border-radius: 5px;
	width: 50px;
	height: 50px;
	cursor: pointer;
	fill: dodgerblue;
	transition: box-shadow 0.3s;
}

.nav--extended {
	box-shadow: 0 0 0 3px #ccc;
}

.nav--close {
	max-height: 0;
	transition: all 0.3s ease-out;
	opacity: 0;
}

.nav--show {
	opacity: 1;
	max-height: 900px;
	height: auto;
	transition: all 0.6s ease-in;
}

@media screen and (min-width: 768px) {
	.nav__toggler {
		display: none;
	}

	.nav__list.sm {
		display: none;
	}

	.nav__item {
		border: 0;
		margin: 0 1.6rem;
	}

	.nav__list.md {
		display: flex;
		padding: 0 1.5rem;
		font-size: 1.8rem;
	}
}
