.block--contacts {
	background-color: #fff;
	padding: 10rem 0;
}

.contacts__heading {
	color: var(--color-title);
	font-size: var(--font-size-title);
	text-align: center;
	margin-bottom: 5rem;
}

.contacts__sub-heading {
	font-size: 2rem;
}

.contacts__paragraph {
	font-size: 1.8rem;
	font-family: "Poppins", sans-serif;
}

/* .contact__section {
	display: flex;
	flex-direction: column;
} */

.btn-container {
	margin-top: 5rem;
}
.homeBtn {
	font-family: "Poppins", sans-serif;
	font-size: 1.5rem;
	font-weight: 500;
	outline: none;
	border: 2px solid #000;
	border-radius: 50px;
	background-color: #fff;
	cursor: pointer;
	padding: 1rem;
	transition: 0.3s;
}

.homeBtn:hover {
	border-color: #ff6b5d;
	background-color: #ff6b5d;
	color: #fff;
	letter-spacing: 1px;
}

.icon--contacts {
	width: 50px;
	height: 50px;
	fill: #0884ff;
}

.contacts {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 2rem;
	margin-top: 2rem;
}

.contacts > a {
	font-family: "Poppins", sans-serif;
	font-size: 2rem;
	margin-left: 1.3rem;
	transition: 0.3s;
	color: #0884ff;
}

.contacts > a:hover {
	color: #399cff;
}

@media screen and (min-width: 768px) {
	.contact__section {
		flex-direction: row;
		justify-content: center;
	}
}
