.accordion {
	border: 1px solid #e3e2dd;
	padding: 2rem 1.5rem;
}

.accordion__header {
	font-size: 1.8rem;
	margin-top: 2.5rem;
}

.accordion__section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #e3e2dd;
	cursor: pointer;
}

.section__heading {
	width: 100%;
	overflow: hidden;
}

.section__header {
	font-size: 2rem;
	word-wrap: break-word;
}

.accordion__content {
	max-height: 0;
	overflow: hidden;
	transition: all 0.3s ease-out;
}

.accordion__content.show {
	height: auto;
	max-height: 900px;
	transition: all 0.8s ease-out;
}

.accordion__tagline {
	margin: 1rem;
	padding: 1rem 1.5rem;
	border: 1px solid #e3e2dd;
	box-shadow: 0 0 3px #2b2b2b;
}

.accordion__tagline > p {
	font-size: 1.8rem;
	word-wrap: break-word;
	line-height: 1.8;
	text-align: justify;
}

.accordion__sub-heading {
	font-weight: 600;
}
