@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Poppins:wght@300;400&display=swap");

:root {
	--color-headings: #1b0760;
	--color-body: #b5a8ea;
	--color-border: #ccc;
	--color-title: #1d83e9;
	--font-size-title: 2rem;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

/* Typograpy */
html {
	font-size: 62.5%;
}
body {
	font-family: "Montserrat", "Poppins", Arial, Helvetica, sans-serif;
	font-size: 2.4rem;
	line-height: 1.5;
}

h1,
h2,
h3 {
	color: var(--color-headings);
	margin-bottom: 1rem;
	line-height: 1.1;
}

h1 {
	font-size: 7rem;
}

h2 {
	font-size: 4rem;
}

h3 {
	font-size: 3rem;
}

p {
	margin-top: 0;
}

/* Links */
a {
	text-decoration: none;
}

/* list */

li {
	list-style: none;
}

/* grids */

.grid {
	display: grid;
}

@media screen and (min-width: 768px) {
	.grid--1x2 {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 1024px) {
	.grid--1x3 {
		grid-template-columns: repeat(3, 1fr);
	}
}

/* container */

.container {
	max-width: 1140px;
	margin: 0 auto;
}

.block {
	--padding-bottom: 15rem;
	padding: 6rem 1.5rem var(--padding-bottom);
}

/* Icon */

.icon-container {
	border-radius: 100%;
	width: 78px;
	height: 78px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #ccc;
	box-shadow: 0 0 0 1px #ffefef;
}

/* Scroll bar */

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: #fff;
}

::-webkit-scrollbar-thumb {
	background-color: #8e8e8e;
	border-radius: 20px;
}
